.Message { flex: 1; display: flex; flex-direction: column; height: 100%; padding: 16px; background: $slick-bg2; }

.Message__h2 { margin: 0 0 24px; }

.Message__list { flex: 1; margin: 0 0 16px; padding: 0; overflow-x: hidden; }
.Message__listItem { margin: 0 0 16px; border-bottom: 1px solid $slick-bg; list-style: none;
  &:nth-last-child(1) { border-bottom: 0; }
}
.Message__listItemH5 { margin: 0 0 8px; }
.Message__listItemCreatedAt { margin: 0 0 8px; font-size: 12px; }
.Message__listItemText { margin: 0 0 16px; }

.Message__composer { width: 100%; height: 100px; padding: 16px; border: 0; color: $slick-bg; }

@media #{$tablet} {
}

@media #{$desktop} {
}
