.NewThreadForm__h2 { margin: 0 0 24px; font-size: 36px; }
.NewThreadForm__form {}
.NewThreadForm__label {}
.NewThreadForm__input { width: 100%; margin: 8px 0 24px; padding: 8px; border: 0; color: $slick-bg; }
.NewThreadForm__submit { display: block; margin: 0 auto; padding: 16px; border: 0; background: $slick-bg2; }
