.Participants { min-width: 240px; background: $slick-bg3; }
.Participants__h2 { margin: 16px; }
.Participants__ul { font-size: 14px; }
.Participants__li {}

@media #{$tablet} {
}

@media #{$desktop} {
}
