.Modal__closeBtn { float: right; border: 0; background: none; line-height: 24px; font-size: 32px; }

.ReactModalPortal { }
.ReactModal__Overlay { display: flex; align-items: center; justify-content: center; background: none !important; cursor: pointer; }
.ReactModal__Content { flex: 1; position: static !important; max-width: 420px; border: 0 !important; border-radius: 0 !important; background: $slick-bg3 !important; color: $slick-text; cursor: auto; box-shadow: 0 0 48px $black; }

%Header__btn { border: 0; border-radius: 3px; margin: 0 16px 0 0; padding: 0 16px; background: $slick-bg2; line-height: 32px; text-transform: uppercase; font-size: 12px; font-family: 'Montserrat', sans-serif; color: $slick-text; user-select: none;
  &:hover { background: lighten($slick-bg2, 10%); color: darken($slick-text, 10%); }
}
