.Splash__container { flex: 1; display: flex; align-items: center; justify-content: center; background: url(../img/home-bg.jpg) no-repeat center/cover; }
.Splash { max-width: 420px; margin: 8px; padding: 24px; background: rgba(0, 0, 0, 0.8); }
.Splash__h2 { margin: 0; }
