.UserSelector { max-height: 200px; margin: 0 0 16px; overflow-y: scroll; }
.UserSelector__list { margin: 0; padding: 0; list-style: none; }

.UserSelect__label { cursor: pointer; }
.UserSelect__li { margin: 8px 0; }
.UserSelect__checkbox { margin: 0 8px 0 0; }
